{{> head }}
<body>
{{> adminnav }}

<div class="all-notas m-3">  
    <table>
        <thead>
            <th>ID</th>
            <th>Nota</th>
            <th>Fecha</th>
            <th>Escrita por</th>
            <th>Cargo de la entidad</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="/assets/js/custom/notas.js"></script>

{{> footer }}