{{> head }}
<body>
{{> adminnav }}
<div class="m-3">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Curso</th>
                <th>Preceptor</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
</div>

<script src="/assets/js/custom/user.js"></script>

{{> footer }}